<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" >
  <sitecore role:require="Standalone or ContentManagement">
    <experienceProfile>
      <resultTransformManager>
        <resultTransformProvider>
          <intelResultTransformers>
            <add patch:instead="*[@type='Sitecore.Cintel.Client.Transformers.Contact.OverviewResultTransformer, Sitecore.Cintel.Client']" viewName="latest-statistics" type="Project.Pipelines.OverviewResultTransformer,  Project"/>
            <add patch:instead="*[@type='Sitecore.Cintel.Client.Transformers.Contact.LatestEventResultTransformer, Sitecore.Cintel.Client']" viewName="latest-events" type="Project.Pipelines.LatestEventResultTransformer,  Project"/>
            <add patch:instead="*[@type='Sitecore.Cintel.Client.Transformers.Contact.JourneyResultTransformer, Sitecore.Cintel.Client']" viewName="journey" type="Project.Pipelines.JourneyResultTransformer,  Project"/>
            <add patch:instead="*[@type='Sitecore.Cintel.Client.Transformers.Contact.JourneyOutcomeDetailResultTransformer, Sitecore.Cintel.Client']" viewName="journey-detail-outcome" type="Project.Pipelines.JourneyOutcomeDetailResultTransformer,  Project"/>
          </intelResultTransformers>
        </resultTransformProvider>
      </resultTransformManager>
    </experienceProfile>
  </sitecore>
</configuration>
